@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap");
body {
  position: relative;
  line-height: 1.8;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
  background-color: #fff;
}
body *,
body *:before,
body *:after {
  box-sizing: inherit;
}

a {
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: none;
}

input:focus,
button:focus,
textarea:focus {
  outline: none;
}

.header-bg {
  position: relative;
}

.header-area {
  padding-top: 20px;
  position: relative;
}
.header-area .link {
  font-size: 17px;
  line-height: 40px;
  color: #596B7B;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.header-area .link--active {
  font-size: 17px;
  line-height: 40px;
  font-weight: 500;
  color: #1F2B6C;
}
.header-area .btn {
  height: 50px;
  width: 120px;
  background-color: #159FED;
  border: none;
}

.hero-section h1 {
  font-family: manrope;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700;
  color: #000000;
  font-family: manrope;
  line-height: 70px;
}
.hero-section .hero-img {
  position: absolute;
  top: 0px;
  right: 0px;
  z-index: -1;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  width: 50%;
}
.hero-section p {
  padding-bottom: 105px;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  color: #717171;
}

.hero-section .location {
  font-size: 13px;
  font-weight: 600;
  color: #222222;
  line-height: 16px;
  padding-bottom: 0px;
  margin-bottom: 0;
  font-family: "Inter", sans-serif;
}
.hero-section .search-area {
  border-right: solid 2px rgba(0, 0, 0, 0.1);
}
.hero-section .searchbox {
  background-color: #fff;
  padding: 5px 25px 5px 30px;
  border-radius: 0.5rem;
  margin-top: -110px;
}
.hero-section .searchbox .form-control {
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  font-family: "Inter", sans-serif;
}
.hero-section .searchbox .col-md-2,
.hero-section .searchbox .col-md-2,
.hero-section .searchbox .col-md-3,
.hero-section .searchbox .col-md-5 {
  padding-top: 12px;
  padding-bottom: 12px;
}
.hero-section .searchbox .form-control {
  border-color: transparent;
}
.hero-section .searchbox select.form-control {
  border-right: solid 1px transparent;
}
.hero-section .searchbox .form-control:focus {
  outline: 0;
}
.hero-section .searchbox .btn {
  border-radius: 40px;
  padding: 20px 40px;
}
.hero-section .form-control {
  padding: 0px 0px;
}
.hero-section .searchbox h6 {
  margin: 0px;
}
.hero-section .searchbox .lg-danger {
  color: #fff !important;
  display: block;
  width: 225px;
  height: 56px;
  font-size: 16px;
  line-height: 25px;
  font-weight: 500;
  background: #df1919 !important;
  border-radius: 5px;
  border: none;
}

.icons-columns {
  padding-top: 100px;
  padding-bottom: 85px;
}
.icons-columns .gap {
  gap: 70px;
}
.icons-columns .card {
  border: none;
  background-color: transparent;
}
.icons-columns .img-ico {
  margin-top: -40px;
}
.icons-columns h3 {
  font-size: 32px;
  font-weight: 500;
  font-family: "Inter", sans-serif;
  line-height: 45px;
  margin-top: 5px;
  margin-bottom: 28px;
}
.icons-columns p {
  font-family: "Inter", sans-serif;
  font-size: 15px;
  line-height: 19px;
  font-weight: 400;
  color: #000000;
}

#featured-3 .gap {
  gap: 0px 0px;
}
#featured-3 h2 {
  font-family: "Manrope", sans-serif;
  font-size: 40px;
  line-height: 55px;
  font-weight: 600;
}
#featured-3 h3 {
  font-family: "Manrope", sans-serif;
  font-size: 22px;
  line-height: 30px;
  font-weight: 600;
  padding-bottom: 5px;
}
#featured-3 p {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

.multi-slider {
  padding: 0px 50px 150px;
  /* Slider */
  /* Icons */
  /* ************************************************************* */
}
.multi-slider h3 {
  padding-bottom: 46px;
  padding-left: 0px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 30px;
  line-height: 40px;
}
.multi-slider h4 {
  position: relative;
  color: #666666;
  text-align: start;
  padding: 20px 0px;
  margin: 0.5rem;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
}
.multi-slider .slick-slide.is-active h4 {
  color: #c00;
}
.multi-slider .slick-slide.is-active h4 span {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  line-height: 21px;
  font-weight: 600;
  white-space: nowrap;
  text-align: start;
  display: inline-block;
  animation: backInUp;
  animation-duration: 3s;
  --animate-repeat: infinite;
}
.slick-loading .multi-slider .slick-list {
  background: #fff url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/ajax-loader.gif") center center no-repeat;
}
@font-face {
  .multi-slider {
    font-family: "slick";
    src: url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot");
    src: url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.woff") format("woff"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.ttf") format("truetype"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
.multi-slider .js .cSlider--single > div:nth-child(1n+2) {
  display: none;
}
.multi-slider .js .cSlider--single.slick-initialized > div:nth-child(1n+2) {
  display: block;
}
.multi-slider .cSlider--single {
  margin-right: -200px;
}
.multi-slider .cSlider--single .cSlider__item {
  display: inline-block;
  margin: 0 0.5rem;
  --animate__infinite: infinite;
  animation: backInUp;
  animation-duration: 3s;
  --animate-repeat: infinite;
}
.multi-slider .prev-arrow-Custom {
  right: 250px;
  position: absolute;
  z-index: 1000;
  top: -120px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  z-index: 999;
  background: transparent;
}
.multi-slider .next-arrow-Custom {
  right: 400px;
  position: absolute;
  z-index: 1000;
  top: -120px;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
  background: transparent;
}
.multi-slider .cSlider--nav .slick-slide {
  cursor: pointer;
}
.multi-slider .cSlider--nav span {
  position: absolute;
  top: 50%;
}

#featured-box .shape-parent {
  position: relative;
  height: 650px;
  background: #D6EBE4;
}
#featured-box .shape-child img {
  position: absolute;
  top: -135px;
  left: -160px;
  box-shadow: 48px 58px 86px rgba(0, 0, 0, 0.009);
}
#featured-box .ms-70 {
  margin-left: 70px;
}
#featured-box h6 {
  padding-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
#featured-box h3 {
  padding-top: 95px;
  padding-bottom: 25px;
  font-size: 31px;
  font-family: "Manrope", sans-serif;
  line-height: 42px;
  font-weight: 600;
  color: #000000;
}
#featured-box .table > :not(caption) > * > * {
  padding: 5px 75px;
  background-color: none;
  border-bottom-width: 0px;
  box-shadow: none;
  padding-left: 0px;
}
#featured-box .table-responsive {
  overflow-x: inherit;
  -webkit-overflow-scrolling: touch;
}
#featured-box .tbl {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #545A58;
  padding-bottom: 25px;
}
#featured-box p {
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  color: #545A58;
  padding-bottom: 25px;
}
#featured-box button {
  padding: 13px 0px;
  border-radius: 5px;
  background-color: #F85A47;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-top: -10px;
}

.testimonial {
  padding: 80px 70px 55px;
}
.testimonial h3 {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
}
.testimonial .single-testimonial-item {
  padding: 50px 40px 0px;
  border: 1px solid #EBEBEB;
  text-align: center;
  margin: 0px 15px;
  width: 300px;
  min-width: 300px;
  flex: 20%;
  margin-top: 20px;
  border-radius: 10px;
  object-fit: contain;
  position: relative;
  transition: box-shadow 0.3s;
}
.testimonial .single-testimonial-item:hover {
  cursor: pointer;
  border: none;
  box-shadow: 3px 44px 108px rgba(0, 0, 0, 0.08);
  transition: box-shadow 0.9s;
}
.testimonial .text-start {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  padding-top: 22px;
}
.testimonial .img-info {
  padding-top: 26px;
  padding-bottom: 35px;
}
.testimonial .img-info img {
  height: 50px;
  width: 50px;
}
.testimonial .img-info .info h5 {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  margin-bottom: 0px;
}
.testimonial .img-info .info p {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
}

.logo-carousel .logo-list {
  margin: 28px 55px;
}
.logo-carousel .text-number {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
}
.logo-carousel .link-a {
  color: #2CBDE7;
  text-decoration: underline;
}

.multi-slider--2 {
  padding: 120px 70px 215px;
  /* Slider */
  /* Icons */
  /* ************************************************************* */
}
.multi-slider--2 .slick-list {
  position: relative;
  display: block;
  overflow: hidden;
  margin-right: 50px;
  margin-bottom: 25px;
}
.multi-slider--2 h3 {
  padding-bottom: 5px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 40px;
  line-height: 55px;
}
.multi-slider--2 p {
  font-family: "inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  padding-bottom: 16px;
}
.multi-slider--2 h4 {
  position: relative;
  color: #070707;
  text-align: start;
  padding: 20px 0px;
  margin-bottom: 15px;
}
.multi-slider--2 h4 span {
  font-family: Inter, Bangla394, sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 23px;
  white-space: nowrap;
  text-align: start;
  color: #000000;
}
.multi-slider--2 .slick-slide.is-active h4 {
  color: #F85A47;
  margin-bottom: 40px;
}
.multi-slider--2 .slick-slide.is-active h4 span {
  padding-bottom: 15px;
  border-bottom: 2px solid #F85A47;
  color: #F85A47;
  font-weight: 600;
  display: inline-block;
  animation: backInRight;
  animation-duration: 3s;
  --animate-repeat: infinite ;
}
.slick-loading .multi-slider--2 .slick-list {
  background: #fff url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/ajax-loader.gif") center center no-repeat;
}
@font-face {
  .multi-slider--2 {
    font-family: "slick";
    src: url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot");
    src: url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.woff") format("woff"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.ttf") format("truetype"), url("https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/slick.svg#slick") format("svg");
    font-weight: normal;
    font-style: normal;
  }
}
.multi-slider--2 .js .cSlider--single-2 > div:nth-child(1n+2) {
  display: none;
}
.multi-slider--2 .js .cSlider--single-2.slick-initialized > div:nth-child(1n+2) {
  display: block;
}
.multi-slider--2 .prev-arrow-Custom {
  right: 250px;
  position: absolute;
  z-index: 1000;
  top: -120px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  z-index: 999;
}
.multi-slider--2 .next-arrow-Custom {
  right: 400px;
  position: absolute;
  z-index: 1000;
  top: -120px;
  border: none;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 999;
}
.multi-slider--2 h2 {
  position: relative;
  font-size: 2.25rem;
  background-color: #f0f0f0;
  color: #3e8dc2;
  text-align: center;
  padding: 2%;
  margin: 0.5rem;
}
.multi-slider--2 h2 .cSlider--single-2 .cSlider__item {
  display: inline-block;
  gap: 0px 10px;
  margin-right: 20px;
  --animate__infinite: infinite;
  animation: animate__backOutLeft;
  animation-duration: 3s;
  --animate-repeat: infinite;
}
.multi-slider--2 h2 .cSlider--single-2 .cSlider__item img {
  height: 301px;
  width: 370px;
  max-width: 370px;
  min-width: 300px;
  overflow-x: hidden;
  flex: 25%;
}
.cSlider--single-2 .multi-slider--2 h2 {
  line-height: 10rem;
}
.cSlider--nav-2 .multi-slider--2 h2::before {
  content: "";
  display: block;
  padding-top: 75%;
}
.multi-slider--2 h2 .slick-slide.is-active-h4 {
  color: #c00;
  background-color: #fff;
}
.multi-slider--2 .cSlider--nav-2 .slick-slide {
  cursor: pointer;
}
.multi-slider--2 .cSlider--nav-2 span {
  position: absolute;
  top: 50%;
}
.multi-slider--2 .btn-lg {
  font-size: 17px;
  font-weight: 500;
  line-height: 40px;
  font-family: Inter, Bangla394, sans-serif;
  background-color: #F85A47;
  color: #FFFFFF;
  padding: 10px 30px;
  margin-right: 90px;
}

#featured-box-end {
  padding: 50px 80px 50px 40px;
}
#featured-box-end .shape-parent {
  position: relative;
  height: 577px;
  background: #D6EBE4;
}
#featured-box-end .top-right {
  border-top-right-radius: 10%;
}
#featured-box-end .bottom-left {
  border-bottom-left-radius: 10%;
}
#featured-box-end .shape-child img {
  position: absolute;
  top: -70px;
  left: -235px;
  box-shadow: 48px 58px 86px rgba(0, 0, 0, 0.009);
}
#featured-box-end h6 {
  padding-bottom: 15px;
  font-family: "Inter", sans-serif;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;
}
#featured-box-end h3 {
  padding-top: 125px;
  padding-bottom: 25px;
  font-size: 45px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  line-height: 55px;
  font-weight: 600;
  color: #000000;
}
#featured-box-end p {
  font-family: Inter, Bangla870, sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  color: #545A58;
  padding-bottom: 25px;
}
#featured-box-end button {
  padding: 20px 48px;
  border-radius: 5px;
  background-color: #F85A47;
  font-family: "Inter", sans-serif;
  font-weight: 500;
  font-size: 19px;
  line-height: 23px;
  color: #FFFFFF;
  margin-top: 0px;
}

.bd-footer {
  background-color: #fff;
}

/*# sourceMappingURL=style.css.map */
