@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800&family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');



// font-family: 'Inter', sans-serif;

// font-family: 'Manrope', sans-serif;

// font-family: 'Roboto', sans-serif;

body {
  position: relative;
  line-height: 1.8;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  background-color: #fff;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }

}

a {
  text-decoration: none;

}

a:hover,
a:focus {
  text-decoration: none;
}

input:focus,
button:focus,
textarea:focus {
  outline: none
}

// header-area

.header-bg {

  position: relative;

}

.header-area {
  padding-top: 10px;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;


  .link {
    &--active {
      font-size: 17px;
      line-height: 40px;
      font-weight: 500;
      color: #1F2B6C;
    }

    font-size: 17px;
    line-height: 40px;
    color: #596B7B;
    font-weight: 400;
    font-family: 'Inter',
    sans-serif;

  }

  .btn {
    height: 49px;
    width: 120px;
    background-color: #159FED;
    border: none;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
  }
}



// Hero-Section
.hero-section-1 {
  padding: 135px 80px 150px;
}

.hero-section {
  background-color: #F1F1F1;
  height: 560px;
  background-repeat: no-repeat;
  background-position: center;


  h1 {
    font-family: manrope;
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    font-family: manrope;
    line-height: 70px,
  }

  .hero-img {
    height: 670px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10;
    width: 50%;

  }

  .text-section {
    // padding-left: 30px;
  }

  p {

    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    color: #717171;
  }

}

//  SEARCH-BOX

.hero-section {



  .location {
    font-size: 13px;
    font-weight: 600;
    color: #222222;
    line-height: 16px;
    padding-bottom: 0px;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;

  }

  .search-area {
    border-right: solid 2px rgba(0, 0, 0, 0.10);

    &.search-area-2 {
      // padding: 0px 75px 0px 10px;
    }

    &.search-area-3 {
      // padding: 0px 75px 0px 10px;
    }
  }


  .searchbox {
    z-index: 100;
    background-color: #fff;
    padding: 5px 25px 5px 60px;
    border-radius: 0.50rem;
    top: 515px;
    position: absolute;
    box-shadow: 0px 25px 100px rgb(0 0 0 / 5%);
    border: 1px solid #F5F5F5;
    // margin-right: 110px;
    width: 80%;


    .form-control {
      font-size: 15px;
      line-height: 19px;
      font-weight: 400;
      font-family: 'Inter', sans-serif;
      color: #B7B7B7
    }
  }

  .searchbox .col-md-2,
  .searchbox .col-md-2,
  .searchbox .col-md-3,
  .searchbox .col-md-5 {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .searchbox .form-control {
    border-color: transparent;
    // border-right: solid 1px rgba(0, 0, 0, 0.10);
  }

  .searchbox select.form-control {
    border-right: solid 1px transparent;
  }

  .searchbox .form-control:focus {
    outline: 0;
  }

  .searchbox .btn {
    border-radius: 40px;
    padding: 20px 40px;
  }

  .form-control {
    padding: 0px 0px;
  }

  .searchbox {
    h6 {
      margin: 0px;
    }

    .lg-danger {
      color: #fff !important;
      display: block;

      height: 54px;
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      background: #F85A47;
      border-radius: 5px;
      border: none;

      .text {
        white-space: nowrap;
      }

    }
  }


}

// column and icons



#icons-columns {
  padding: 140px 50px 78px;

  .gap {
    gap: 70px;
  }

  .card {
    border: none;
    background-color: transparent;
  }

  .img-ico {
    margin-top: -40px;
  }

  h3 {
    font-size: 32px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    line-height: 45px;
    margin-top: 4px;
    margin-bottom: 28px;
    white-space: nowrap;
  }

  p {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    line-height: 19px;
    font-weight: 400;
    color: #000000
  }

  .icon-square {

    img {
      padding-left: 40px;
    }

  }

}

// Works icons

#featured-3 {
  padding: 50px 0px 50px;

  .gap {
    gap: 0px 0px;
  }

  h2 {
    font-family: 'Manrope', sans-serif;
    font-size: 40px;
    line-height: 55px;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h3 {
    font-family: 'Manrope', sans-serif;
    font-size: 22px;
    line-height: 30px;
    font-weight: 600;
    padding-bottom: 5px;

  }

  p {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;

  }
}

//***Explore-section*****//


.multi-slider {
  padding: 70px 50px 150px;

  h3 {
    padding-bottom: 58px;
    padding-left: 0px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 30px;
    line-height: 40px;
  }

  h4 {
    position: relative;
    color: #666666;
    text-align: start;
    padding: 20px 0px;
    // margin: 0.5rem;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    font-weight: 500;
    font-family: 'Inter', sans-serif;
    color: #666666;
    font-family: Inter, Bangla756, sans-serif;
    margin-bottom: 25px ;


  }

  .slick-slide.is-active h4 {
    color: #F85A47;

    span {
      font-size: 18px;
      font-family: 'Inter', sans-serif;
      line-height: 21px;
      font-weight: 500;
      white-space: nowrap;
      text-align: start;
      display: inline-block;
      // margin: 0 0.5rem;
      animation: backInUp;
      animation-duration: 3s;
      --animate-repeat: infinite;
    }

  }



  $slick-font-path: "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/" !default;
  $slick-font-family: "slick" !default;
  $slick-loader-path: "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/" !default;

  @function slick-image-url($url) {
    @if function-exists(image-url) {
      @return image-url($url);
    }

    @else {
      @return url($slick-loader-path + $url);
    }
  }

  @function slick-font-url($url) {
    @if function-exists(font-url) {
      @return font-url($url);
    }

    @else {
      @return url($slick-font-path + $url);
    }
  }

  /* Slider */
  .slick-list {
   
    .slick-loading & {
      background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
  }



  /* Icons */
  @if $slick-font-family=="slick" {
    @font-face {
      font-family: "slick";
      src: slick-font-url("slick.eot");
      src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"),
        slick-font-url("slick.woff") format("woff"),
        slick-font-url("slick.ttf") format("truetype"),
        slick-font-url("slick.svg#slick") format("svg");
      font-weight: normal;
      font-style: normal;
    }
  }

  /* ************************************************************* */

  .js .cSlider--single {
    &>div:nth-child(1n + 2) {
      display: none;
    }

    &.slick-initialized>div:nth-child(1n + 2) {
      display: block;
    }
  }
  // .cSlider--nav {
  //   .slick-list {
  //     margin: -40px;
  //   }
  // }
  .cSlider--single {
    margin-right: -200px;

    .cSlider__item {
      display: inline-block;
      margin: 0 0.5rem;
      --animate__infinite: infinite;
      animation: backInUp;
      animation-duration: 3s;
      --animate-repeat: infinite;
    }
  }

  .prev-arrow-Custom {
    right: 250px;
    position: absolute;
    z-index: 1000;
    top: -75px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    z-index: 999;
    background: transparent;
  }



  .next-arrow-Custom {
    right: 400px;
    position: absolute;
    z-index: 1000;
    top: -75px;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
    background: transparent;
  }

  // h2 {
  //   position: relative;
  //   font-size: 2.25rem;
  //   background-color: #f0f0f0;
  //   color: #3e8dc2;
  //   text-align: center;
  //   padding: 2%;
  //   margin: 0.5rem;

  //   .cSlider--single & {
  //     line-height: 10rem;
  //   }

  //   .cSlider--nav &::before {
  //     content: "";
  //     display: block;
  //     padding-top: 75%;


  //   }

  //   .slick-slide.is-active {


  //     &-h4 {
  //       color: #c00;
  //       background-color: #fff;
  //     }

  //   }

  // }

  .cSlider--nav {
    .slick-slide {
      cursor: pointer;
    }

    span {
      position: absolute;
      top: 50%;

    }
  }



}

// Box-image
#featured-box {

  padding: 94px 0px 50px;


  .shape-parent {
    position: relative;
    height: 650px;
    background: #D6EBE4;

  }

  .shape-child img {
    position: absolute;
    top: -135px;
    left: -155px;
    box-shadow: 48px 58px 86px rgb(0 0 0 / 0.9%);
  }

  .ms-70 {
    margin-left: 80px;
  }

  h6 {
    padding-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
  }

  h3 {
    padding-top: 83px;
    padding-bottom: 25px;
    font-size: 31px;
    font-family: 'Manrope', sans-serif;
    line-height: 42px;
    font-weight: 600;
    color: #000000;
  }


  .text-start {
    margin: 0px 37px 0px 0px;
  }


  .table>:not(caption)>*>* {
    padding: 5px 50px;
    background-color: none;
    border-bottom-width: 0px;
    box-shadow: none;
    padding-left: 0px;
  }

  .table-responsive {
    overflow-x: inherit;
    -webkit-overflow-scrolling: touch;
  }

  .tbl {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #545A58;
    padding-bottom: 41px;
  }

  .text-start {}

  p {
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    color: #545A58;
    padding-bottom: 25px;
  }

  button {
    padding: 16px 48px;
    border-radius: 5px;
    background-color: #F85A47;
    margin-top: 10px;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

  }
}

// testimonial --card --carousel

.testimonial {
  padding: 80px 70px 55px;

  h3 {
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
  }

  .single-testimonial-item {
    // background: rgb(255, 255, 255);
    padding: 50px 40px 0px;
    border: 1px solid #EBEBEB;
    text-align: center;
    margin: 0px 15px;
    width: 300px;
    min-width: 300px;
    flex: 20%;
    margin-top: 20px;
    border-radius: 10px;
    object-fit: contain;
    position: relative;
    transition: box-shadow .3s;

    &:hover {
      cursor: pointer;
      border: none;
      box-shadow: 3px 44px 108px rgb(0, 0, 0, 8%);
      transition: box-shadow .9s;


    }

  }

  .text-start {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    padding-top: 22px;
  }

  .img-info {
    padding-top: 26px;
    padding-bottom: 35px;

    img {
      height: 50px;
      width: 50px;
    }

    .info {
      h5 {
        font-family: 'Inter', sans-serif;
        font-size: 16px;
        line-height: 20px;
        font-weight: 500;
        margin-bottom: 0px;

      }

      p {
        font-family: 'Inter', sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 17px;
      }
    }
  }

}

// Logo-carouse

.logo-carousel {
  .logo-list {
    margin: 28px 55px;
  }

  .text-number {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
  }

  .link-a {
    color: #2CBDE7;
    text-decoration: underline;
  }

}


// Real-State-slider


.multi-slider--2 {
  padding: 155px 70px 200px;

  .slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    // padding: 0px 40px;
    // margin-left: -38px;
    margin-right: 50px;
    margin-bottom: 25px;

  }

  .slider-top-left {
    // margin-left: -40px;
  }

  h3 {
    padding-bottom: 5px;
    // padding-left: 40px;
    font-family: 'Manrope', sans-serif;
    font-weight: 600;
    font-size: 40px;
    line-height: 55px;
  }

  p {
    font-family: 'inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 16px;
  }

  h4 {
    position: relative;
    color: #070707;
    text-align: start;
    padding: 20px 0px;
    // margin: 0.5rem;
    margin-bottom: 15px;


    span {
      font-family: Inter, Bangla394, sans-serif;
      font-size: 19px;
      font-weight: 400;
      line-height: 23px;
      white-space: nowrap;
      text-align: start;
      color: #000000;
    }

  }

  .slick-slide.is-active h4 {
    color: #F85A47;
    margin-bottom: 40px;

    // transition: border .3s;  
    span {
      padding-bottom: 15px;
      border-bottom: 2px solid #F85A47;
      color: #F85A47;
      font-weight: 600;
      display: inline-block;
      // margin: 0 0.5rem;
      animation: backInRight;
      animation-duration: 3s;
      --animate-repeat: infinite
    }

  }


  $slick-font-path: "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/fonts/" !default;
  $slick-font-family: "slick" !default;
  $slick-loader-path: "https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/" !default;

  @function slick-image-url($url) {
    @if function-exists(image-url) {
      @return image-url($url);
    }

    @else {
      @return url($slick-loader-path + $url);
    }
  }

  @function slick-font-url($url) {
    @if function-exists(font-url) {
      @return font-url($url);
    }

    @else {
      @return url($slick-font-path + $url);
    }
  }

  /* Slider */
  .slick-list {
    .slick-loading & {
      background: #fff slick-image-url("ajax-loader.gif") center center no-repeat;
    }
  }

  /* Icons */
  @if $slick-font-family=="slick" {
    @font-face {
      font-family: "slick";
      src: slick-font-url("slick.eot");
      src: slick-font-url("slick.eot?#iefix") format("embedded-opentype"),
        slick-font-url("slick.woff") format("woff"),
        slick-font-url("slick.ttf") format("truetype"),
        slick-font-url("slick.svg#slick") format("svg");
      font-weight: normal;
      font-style: normal;
    }
  }

  /* ************************************************************* */

  .js .cSlider--single-2 {
    &>div:nth-child(1n + 2) {
      display: none;
    }

    &.slick-initialized>div:nth-child(1n + 2) {
      display: block;
    }
  }

  .cSlider--single-2 {

    // text-align: -webkit-center;
  }

  .prev-arrow-Custom {
    right: 250px;
    position: absolute;
    z-index: 1000;
    top: -120px;

    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    border: none;
    z-index: 999;

  }

  .next-arrow-Custom {
    right: 400px;
    position: absolute;
    z-index: 1000;
    top: -120px;
    border: none;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 999;
  }

  h2 {
    position: relative;
    font-size: 2.25rem;
    background-color: #f0f0f0;
    color: #3e8dc2;
    text-align: center;
    padding: 2%;
    margin: 0.5rem;

    .cSlider--single-2 {

      .cSlider__item {
        display: inline-block;
        gap: 0px 10px;
        margin-right: 20px;
        --animate__infinite: infinite;
        animation: animate__backOutLeft;
        animation-duration: 3s;
        --animate-repeat: infinite;


        img {
          height: 301px;
          width: 370px;
          max-width: 370px;
          min-width: 300px;
          overflow-x: hidden;
          flex: 25%;
        }
      }
    }

    .cSlider--single-2 & {
      line-height: 10rem;


    }

    .cSlider--nav-2 &::before {
      content: "";
      display: block;
      padding-top: 75%;


    }

    .slick-slide.is-active {


      &-h4 {
        color: #c00;
        background-color: #fff;
      }

    }

  }

  .cSlider--nav-2 {
    .slick-slide {
      cursor: pointer;
    }

    span {
      position: absolute;
      top: 50%;
      // left: 50%;
      // transform: translate(-50%, -50%);
    }
  }

  .btn-lg {
    font-size: 17px;
    font-weight: 500;
    line-height: 40px;
    font-family: Inter, Bangla394, sans-serif;
    background-color: #F85A47;
    color: #FFFFFF;
    padding: 10px 30px;
    margin-right: 90px;
  }


}


// Corner-round-box

#featured-box-end {
  padding: 0px 80px 50px 40px;

  .shape-parent {
    position: relative;
    height: 577px;
    background: #D6EBE4;

  }

  .top-right {

    border-top-right-radius: 10%;
  }

  .bottom-left {
    border-bottom-left-radius: 10%;
  }

  .shape-child img {
    position: absolute;
    top: -60px;
    left: -250px;
    box-shadow: 48px 58px 86px rgb(0 0 0 / 0.9%);
  }

  .ms-70 {
    // margin-left: 70px;
  }

  h6 {
    padding-bottom: 15px;
    font-family: 'Inter', sans-serif;
    font-size: 17px;
    font-weight: 500;
    line-height: 20px;
  }

  h3 {
    padding-top: 125px;
    padding-bottom: 16px;
    font-size: 45px;
    font-family: 'Manrope', sans-serif;
    // word-wrap: break-word;
    // white-space: nowrap;
    font-weight: 600;
    line-height: 55px;
    font-weight: 600;
    color: #000000;
  }

  p {
    font-family: Inter, Bangla870, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    color: #545A58;
    padding-bottom: 33px;
  }

  button {
    padding: 20px 48px;
    border-radius: 5px;
    background-color: #F77E53;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 19px;
    line-height: 23px;
    color: #FFFFFF;
    margin-top: 0px;
  }

}

// Footer-area

.bd-footer {
  padding: 44px 60px 30px;
  background-color: #fff;

  h5 {
    font-size: 17px;
    line-height: 20px;
    font-weight: 500;
    font-family: "Inter", sans-serif;
    color: #101130;
    padding-bottom: 22px;
  }

  ul {
    li {
      a {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        font-family: "Inter", sans-serif;
        color: #101130;
        padding-bottom: 15px;
      }

      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      font-family: "Inter",
      sans-serif;
      color: #101130;
    }
  }

  .star {
    padding: 15px 0px;
  }

  .footer-para {
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Inter", sans-serif;
    color: #101130;
    padding-bottom: 26px;

  }

  .footer-end {
    padding: 29px 0px;
  }

  .para-end {
    font-size: 17px;
    font-weight: 400;
    line-height: 17px;
    font-family: "Inter", sans-serif;
    color: #101130;
  }


}